fastapi==0.113.0
SQLAlchemy==2.0.30
uvicorn==0.29.0
alembic==1.15.2
zstandard==0.23.0
Pillow==11.2.1
python-dotenv==1.0.1
pytest==8.3.5
python-jose==3.4.0
supabase==2.15.1
python-multipart==0.0.20
psycopg2-binary==2.9.9
orjson==3.10.3
httpx==0.28.1
pillow-avif-plugin==1.5.2